<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>Select Page</title>
    <style type="text/css">
        


        #std {
          position:fixed;
          top:26%;
          left: 30%;

        }
        body{
          background-color: #c7eff8;;
        }

        #fac {
          position: fixed;
          left: 60%;
          bottom: 25%;
        }
        .card{
          box-shadow: 0 0 37px 0 #2487ce;
        }
     
    </style>
</head>
<body>
    <div class="card" id="std" style="width: 18rem;">
        <img src="https://img.pikbest.com/png-images/uinversity-student-celebrate-their-graduation-cartoon-element_1499105.png!f305cw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Student</h5>
          <p class="card-text">Students can register here..</p>
          <a href="stdsignup" class="btn btn-primary">Student</a>
        </div>
      </div>
      <div class="card" id="fac" style="width: 18rem;">
        <img src="https://img.freepik.com/premium-vector/online-learning-concept-teacher-with-books-chalkboard-video-lesson_113065-551.jpg?w=360" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Faculty</h5>
          <p class="card-text">Faculties can register here..</p>
          <a href="facsignup" class="btn btn-primary">Faculty</a>
        </div>
    
</body>
</html>